# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  
permissions:
  pull-requests: write
  contents: write
  checks: write
      
jobs:
  build:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B verify --file memex/pom.xml

    - name: Archive Jacoco reports
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-reports
        path: ${{ github.workspace }}/memex/target/site/jacoco
                  
    - name: JaCoCo Report
      uses: Madrapps/jacoco-report@v1.7.2
      with:
        # Comma separated paths of the generated jacoco xml files (supports wildcard glob pattern)
        paths: |
          ${{ github.workspace }}/memex/target/site/jacoco/jacoco.xml
        # Github personal token to add comments to Pull Request
        token: ${{ secrets.GITHUB_TOKEN }}
        title: '# Java Code Coverage Report'

    - name: Cucumber Report
      uses: deblockt/cucumber-report-annotations-action@v1.7
      with:
        access-token: ${{ secrets.GITHUB_TOKEN }}
        path: "**/Cucumber.json"
        
          
